/* thunar */
.thunar toolbar {
  background-color: $headerbar_color; 
}

/* buttons in toolbar */
.thunar toolbar.horizontal button {
  color: #F2EFEA;
  &:hover { @include button(hover-header); }
  image { -gtk-icon-transform:scale(0.72); }
}

scrolledwindow.sidebar treeview.view {
  background: $sidebar_color;
  padding: 4px 0px;
  color: #F2EFEA;
}

/* path-bar of thunar */
window.thunar toolbar#location-toolbar > toolitem > widget > widget.linked.path-bar > button.toggle.path-bar-button, .thunar toolbar .path-bar-button {
  color: #F2EFEA;
  &:hover, &:checked, &:checked:backdrop { 
    background: transparent;
    color: $selected_bg_color; 
  }
}

window.thunar toolbar#location-toolbar > toolitem > widget > widget.linked.path-bar > button.path-bar-button, .thunar toolbar .path-bar-button {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
}

/* thunar sidepane */
.thunar scrolledwindow.sidebar treeview.view {

  &:hover {
    background: darken($sidebar_color, 4%);
    color: $selected_bg_color;
  }
  &:selected {
    @include button(hover-header);
    border-radius: 0;
    box-shadow: none;
  }
}

window.thunar toolbar.horizontal entry {
  border-radius: 5px;
  background-color: lighten($sidebar_color, 4%);
  caret-color: #F2EFEA;
  &, image { color: #F2EFEA; }
}